.container__header {  
  background-color: #64a9a4; 
  height: 90px;  
  display: flex; 
  align-items: center;  
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.6);        
  z-index: 10;
  position: sticky;  
  top: 0; 
}

.container__header__child {
  width: 1100px; 
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;   
  align-items: center; 
  position: relative;     
}

.logo__header { 
  width: 80px;  
}

.container__banner { 
  background-color: #eeeeee; 
}

.banner__master {
  width: 1100px; 
  height: 400px;  
  margin: 0 auto;
  background: url("../assets/img/fortaleza__banner__body.jpeg") no-repeat center;  
  background-size: cover;  
  display: flex;
  justify-content: center;
  align-items: center; 
  color: #fff;
  font-size: 18px;  
} 

.lista__menu {
  width: 350px;  
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  box-sizing: border-box; 
}

.item__li { 
  margin-right: 20px; 
  box-sizing: border-box;  
}

.link__item {
  text-decoration: none; 
  font-weight: 500;   
  border-radius: 20px; 
  padding: 4px 10px;   
  box-sizing: border-box; 
  transition: 0.3s;    
} 

.link__item:hover {  
  box-sizing: border-box;   
  background-color: #fff; 
  color: #64a9a4;
}

.container__logo__and__title {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.fortaleza {
  font-size: 1.3rem; 
  font-weight: 600;
  margin-left: 10px; 
  color: #fff;  
}

.container__curiosidades {
  background-color: #eeeeee;  
}

.container__curiosidades__child {
  width: 1100px;
  margin: 0 auto; 
  background-color: #fff; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.curiosidades_I {  
  width: 335px;
  height: 534px; 
  border-radius: 31px; 
  margin-right: 20px;
  display: flex;  
  flex-direction: column; 
  justify-content: center;   
}

.curiosidades_II {
  width: 335px;
  height: 534px; 
  border-radius: 31px; 
  margin-right: 20px;
  display: flex;  
  flex-direction: column; 
  justify-content: center;  
}

.curiosidade__especial { 
  width: 335px;
  height: 534px; 
  border-radius: 31px; 
  display: flex;  
  flex-direction: column; 
  justify-content: center;  
}

.curiosidades_I__child {
  flex: 1;
  border-top-left-radius: 31px; 
  border-top-right-radius: 31px;  
  background: url("../assets/img/beachpark.jpeg") no-repeat center; 
  background-size: cover;   
}

.curiosidades_I__childTwo { 
  flex: 1;  
  border-bottom-left-radius: 31px; 
  border-bottom-right-radius: 31px;  
  background-color: #f5f5f6; 
  padding-top: 30px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px; 
  padding-bottom: 40px;  
  line-height: 1.5rem; 
  text-align: justify;  
}

.title__childTwo {
  text-align: center; 
  font-size: 18px; 
  font-weight: 600;  
}

.curiosidades_II {
  width: 335px;
  height: 534px; 
  border-radius: 31px; 
  margin-right: 20px; 
  display: flex;  
  flex-direction: column; 
  justify-content: center;
}

.curiosidades_II__child { 
  flex: 1;
  border-top-left-radius: 31px; 
  border-top-right-radius: 31px;  
  background: url("../assets/img/franca.jpeg") no-repeat center;  
  background-size: cover;    
}

.curiosidades_III { 
  width: 335px;
  height: 534px; 
  border-radius: 31px;  
  display: flex;  
  flex-direction: column; 
  justify-content: center;
} 

.curiosidades_III__child { 
  flex: 1;
  border-top-left-radius: 31px; 
  border-top-right-radius: 31px;  
  background: url("../assets/img/praia__do__futuro.jpeg") no-repeat center;  
  background-size: cover;     
}

.container__title__curiosidades {
  width: 1100px; 
  margin: 0 auto;
  background-color: #fff; 
}

.title__curiosidades {
  text-align: center;     
  font-weight: 700; 
  font-size: 2rem; 
  margin: 20px auto; 
  color: #fff; 
  
}

.container__title__curiosidades {
  background-color: #55908c; 
  display: flex;
  justify-content: center; 
  align-items: center;  
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2); 
  margin-bottom: 30px;  
}

.curiosodades__cidade {
  display: flex; 
  justify-content: center;
  align-items: center;  
}

.paragrafo {
  letter-spacing: 0.1rem; 
  line-height: 1.5rem; 
  margin: 0 30px;
  margin-bottom: 1rem; 
  text-align: justify; 
} 

.paragraph {
  box-sizing: border-box;   
}

.button__tourism { 
  height: 40px; 
  color: white;
  background-color: #64a9a4;   
  cursor: pointer; 
  border: none; 
  border-radius: 20px; 
  text-align: center;    
  display: flex;
  align-items: center; 
  justify-content: center; 
  transition: 0.2s;  
  box-sizing: border-box; 
} 

.button__tourism:hover {
  background-color: #fff;
  border: 2px solid #64a9a4; 
  color: #64a9a4; 
}

a {
  color: #fff;
  text-decoration: none; 
}

.video {
  margin-top: 50px;
  margin-bottom: 50px;  
}

.container__footer {
  background-color: #64a9a4; 
  height: 180px;    
  display: flex; 
  justify-content: center; 
  align-items: center;  
}

.circle__one {  
  width: 100px;
  height: 100px; 
  border-radius: 50%; 
  margin-right: 50px;  
  display: flex; 
  justify-content: center; 
  align-items: center;  
  cursor: pointer; 
  transition: 0.3s;   
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.6);  
}

.circle__one:hover {   
  transform: scale(1.1);   
}

.circle__one__child {
  width: 100px;
  height: 100px; 
  border-radius: 50%;  
}

.circle__two {
  width: 100px;
  height: 100px;  
  border-radius: 50%;  
  cursor: pointer; 
  transition: 0.3s;   
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.6);    
} 

.circle__two:hover {    
  transform: scale(1.1);   
}

.circle__one__child {
  width: 100px;
  height: 100px;  
  border-radius: 50%;   
}
 
.title__linkedin {
  text-align: center; 
  color: #fff;
}

.video__project {
  height: 400px;
  width: 700px; 
}

.button__hamburguer {
  display: none; 
  cursor: pointer; 
}

@media(max-width: 1100px) {
  .container__header__child {
    width: 100%; 
  }

  .banner__master {
    width: 99.9%;   
  } 

  .container__curiosidades__child {
    width: 100%; 
  }

  .container__title__curiosidades {
    width: 100%;  
  }

  .curiosodades__cidade {  
    flex-wrap: wrap; 
  } 
}

@media(max-width: 1063px) {
  .curiosidade__especial {
    margin-top: 40px;  
  }

  .curiosidades_I {
    margin-left: 20px;   
  }
}

@media(max-width: 748px) { 
  .curiosidades_II {
    margin-top: 40px;  
  }
}

@media(max-width: 708px) {
  .curiosidades_I {
    margin-right: 0;
    margin-left: 0; 
  }

  .curiosidades_II {
    margin-right: 0;  
  }

  .curiosodades__cidade {  
    flex-direction: column; 
  } 
}

@media(max-width: 700px) {
  .video__project {
    width: 500px;
    height: 250px; 
  }

  .button__hamburguer {
    display: block;
    margin-right: 20px;  
  } 

  .nav__bar {
    display: none; 
  }   

  .home.on {
    width: 100vw; 
    height: 100vh;
    position: absolute;
    top: 0; 
    left: 0; 
    background-color: #64a9a4; 
    z-index: 10; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition-duration: 0.5s; 
  }

  .on .button__hamburguer {  
    position: absolute; 
    right: 0px;  
    top: 23px;
    cursor: pointer;  
  }

  .on .nav__bar {
    display: block; 
  }

  .on .lista__menu {
    flex-direction: column; 
  }

  .on .lista__menu .item__li {
    margin-bottom: 70px;
    text-align: center;  
  }
}

@media(max-width: 520px) {
  .paragrafo {
    letter-spacing: 0; 
  }

  .video__project { 
    width: 360px;
    height: 220px; 
  }

  .container__footer :last-child { 
    margin-right: 0; 
  }
}



